body {

    background-image: url(img/fundo2.png);
    max-width: 80%;
    margin-left:150px
}

.links {

    margin-top: -45px;
    margin-right: 100px;
    float: right;

}

.logo{

    margin-top:30px;
   
}

section p {
  
    text-align: justify;

}

footer {
    text-align: center;
}


