body {

    background-image: url(img/fundo.png);
    max-width: 80%;
    margin-left:150px
}

.links {

    margin-top: -45px;
    margin-right: 100px;
    float: right;

}

.logo{

    margin-top:30px;
    margin-left: 200px;
    
}

.capa {

    align-items: center;
    margin-top:13px;
    margin-left: 200px;
}

article h3 {

    margin-left: 200px;
}

article p {

    margin-left: 200px;
    text-align: justify;

}

footer {

    text-align: center; 
    
}

